!=partial('navbar.jade')
.container
  .hero-unit.nogame-visible
    h3 Welcome to the work of real-time checkers!
    p Click new game, then send the link to a friend.
    p
      button.newgame.btn-large.btn-primary New Game
  .row.game-visible
    .span8
      .row
        #game-url.well.span7
      .row
        .span5
          #turnindicator
          #winnerindicator
        .span2
          button.newgame.btn.btn-primary New Game?
      .row
        #board.span8
    aside.span4
      #chat-window.row.well
  hr
  footer
    p &copy; Rob Severn 2013