@page-font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

@header-height: 50px;
@tile-size: 50px;
@circle-size: @tile-size * 0.8;

@overall-bg-color: #F5EFE7;
@section-color: #EFE4D5;
@button-bg-color_sub: 5E495C;
@button-bg-color: #5E495C;

@player1-color: #131375;
@player2-color: #1A571A;
@possible-move-color: #A07F42;


@indicator-color: #A4BCB2;
@pulse-rate: pulse 3s infinite;

body {
  padding-top: @header-height + 40;
  font: @page-font;
  background-color: @overall-bg-color;
}

.navbar .brand.mybrand {
    line-height: @header-height;
    font-size: 40px;
}

#board {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tile {
    width: @tile-size;
    height: @tile-size;
    display: table-cell;
}

.redboardtile {
    background-color: rgb(218, 183, 109);
    .tile
}

.blackboardtile {
    background-color: black;
    .tile
}

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.circle {
    width: @circle-size;
    height: @circle-size;
    .rounded-corners(@circle-size/2);
    margin: @tile-size/10;
}

.opacity(@opacity) {
     @ieOpacity: @opacity * 100;
     -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieOpacity})"; // IE 8
     filter: ~"alpha(opacity=@{ieOpacity})"; // IE 5-7
     opacity: @opacity;
}

.noplayer {
    background-color: @possible-move-color;
    .opacity(0);
}

.possibleMove {
    .opacity(0.5);
}

.possibleMove:hover {
    .opacity(0.8);
}

.player(@color) {
    background-color: @color;
    &.pieceover {
        background-color: darken(@color, 30%) !important;
    };
    &.pieceselect {
        background-color: darken(@color, 20%);
    };
    &.forcedmove {
        background-color: darken(@player1-color, 20%);
    }
}

.player1 {
    .player(@player1-color);
}

.player2 {
    .player(@player2-color);
}

.circle.upgraded {
    .rounded-corners(0);
}

.completely-hidden {
    display: none !important;
}

.nogame-visible {
    display: none;
}

.game-visible {
    display: none;
}

#game-url {
    display: none;
}

.url {
    font-size: 20px;
}

#chat-window {
}

.messageinput {
    margin: 5px;
}

.messages {
    margin: 5px;
    height: @tile-size * 8 + 68;
    overflow-y: auto;
}
@media (max-width: 767px) {
    .messages {
        margin: 5px;
        height: 200px;
        overflow-y: auto;
    }
}



.message(@color) {
    padding: 3px;
    margin: 5px;
    width: 60%;
    .rounded-corners;
    color: #ffffcc;
    background-color: @color;
}

.player-1-message {
    float: left;
    .message(@player1-color);
}

.player-2-message {
    float: right;
    .message(@player2-color);
}

.winnerindicator {
    .indicator;
}

.turnindicator {
    .indicator;
}

.indicator {
    font-weight: bold;
    background-color: @indicator-color;
    padding: 10px;
    .rounded-corners;
}

.pulsing {
    -webkit-animation: @pulse-rate; /* Safari 4+ */
    -moz-animation:    @pulse-rate; /* Fx 5+ */
    -o-animation:      @pulse-rate; /* Opera 12+ */
    animation:         @pulse-rate; /* IE 10+ */
}

@-webkit-keyframes pulse {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes pulse {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes pulse {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes pulse {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


.well {
    background-color: @section-color;
}

.hero-unit {
    background-color: @section-color;
}

.btn-primary {
  background-color: @button-bg-color;
  *background-color: @button-bg-color;
  background-image: -moz-linear-gradient(top, @button-bg-color, @button-bg-color);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@button-bg-color), to(@button-bg-color));
  background-image: -webkit-linear-gradient(top, @button-bg-color, @button-bg-color);
  background-image: -o-linear-gradient(top, @button-bg-color, @button-bg-color);
  background-image: linear-gradient(to bottom, @button-bg-color, @button-bg-color);
  border-color: @button-bg-color @button-bg-color @button-bg-color;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbutton-bg-color_sub', endColorstr='#ffbutton-bg-color_sub', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: @button-bg-color;
}