/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 90px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5efe7;
}
.navbar .brand.mybrand {
  line-height: 50px;
  font-size: 40px;
}
#board {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tile {
  width: 50px;
  height: 50px;
  display: table-cell;
}
.redboardtile {
  background-color: #dab76d;
  width: 50px;
  height: 50px;
  display: table-cell;
}
.blackboardtile {
  background-color: black;
  width: 50px;
  height: 50px;
  display: table-cell;
}
.circle {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  margin: 5px;
}
.noplayer {
  background-color: #a07f42;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  opacity: 0;
}
.possibleMove {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.possibleMove:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.player1 {
  background-color: #131375;
}
.player1.pieceover {
  background-color: #000000 !important;
}
.player1.pieceselect {
  background-color: #05051d;
}
.player1.forcedmove {
  background-color: #05051d;
}
.player2 {
  background-color: #1a571a;
}
.player2.pieceover {
  background-color: #000000 !important;
}
.player2.pieceselect {
  background-color: #030803;
}
.player2.forcedmove {
  background-color: #05051d;
}
.circle.upgraded {
  border: 6px solid black;
}
.completely-hidden {
  display: none !important;
}
.nogame-visible {
  display: none;
}
.game-visible {
  display: none;
}
#game-url {
  display: none;
}
.url {
  font-size: 20px;
}
.messageinput {
  margin: 5px;
}
.messages {
  margin: 5px;
  height: 468px;
  overflow-y: auto;
}
@media (max-width: 767px) {
  .messages {
    margin: 5px;
    height: 200px;
    overflow-y: auto;
  }
}
.player-1-message {
  float: left;
  padding: 3px;
  margin: 5px;
  width: 60%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #ffffcc;
  background-color: #131375;
}
.player-2-message {
  float: right;
  padding: 3px;
  margin: 5px;
  width: 60%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #ffffcc;
  background-color: #1a571a;
}
.winnerindicator {
  font-weight: bold;
  background-color: #a4bcb2;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.turnindicator {
  font-weight: bold;
  background-color: #a4bcb2;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.indicator {
  font-weight: bold;
  background-color: #a4bcb2;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.pulsing {
  -webkit-animation: pulse 3s infinite;
  /* Safari 4+ */

  -moz-animation: pulse 3s infinite;
  /* Fx 5+ */

  -o-animation: pulse 3s infinite;
  /* Opera 12+ */

  animation: pulse 3s infinite;
  /* IE 10+ */

}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.well {
  background-color: #efe4d5;
}
.hero-unit {
  background-color: #efe4d5;
}
.btn-primary {
  background-color: #5e495c;
  *background-color: #5e495c;
  background-image: -moz-linear-gradient(top, #5e495c, #5e495c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5e495c), to(#5e495c));
  background-image: -webkit-linear-gradient(top, #5e495c, #5e495c);
  background-image: -o-linear-gradient(top, #5e495c, #5e495c);
  background-image: linear-gradient(to bottom, #5e495c, #5e495c);
  border-color: #5e495c #5e495c #5e495c;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbutton-bg-color_sub', endColorstr='#ffbutton-bg-color_sub', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #5e495c;
}
